body{
    background-image: url('images/shara desert.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
}
#logo{
    height: 50px;
    width: 50px;
}
#men{
    height: 30px;
    width: 30px;
}
#men:hover{
    border-radius: 50%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{ 
    color: white;
    margin-right: 50px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    transition: 2s;
}
a:hover{
    box-shadow: 0 0 10px 10px rgb(47, 9, 220);
}
@media (min-width:360px) and (max-width:640px){
    .main{
        width: 500px;
    }
    .main2{
        width: 500px;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
    }
    .main3{
        width: 500px;
        height: 430px;
        display: flex;
        flex-wrap: wrap; 
    }
    .main3 div {
        height: 150px;
        width: 400px;
        border-radius: 15px;
        background-size: cover;
        margin-bottom: 20px;
    }
    .img1{
        position: absolute;
    }
    .img2{
        position: absolute;
        top: 175px;
        right: 430px;
    }
    .img3{
        position: absolute;
        top: 140px;
    }
    .img4{
        position: absolute;
        top: 320px;
        right: 430px;
    }

}
.menu2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main3{
    display: grid;
    grid-template-columns: auto auto;
}
.main2{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.p1{
    font-size: 100px;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    transition: 2s;
}
.p1:hover{
    box-shadow: 0 0 10px 10px rgb(14, 200, 54);
}

p{
    color: rgb(226, 221, 225);
    transition: 2s;
}

.img1,.img2,.img3,.img4{
    height: 200px;
    width: 170px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    background-image: url(images/pic-1.png);
    background-size: cover;
    position: relative;
    transition: 1s;
    box-shadow: 0 0 10px  white;
    gap: 20px;
    text-align: center;
    text-shadow: 0 0 5px red;
}
.img1:hover{
    margin-top: 5px;
    box-shadow: 0 0 10px 10px  rgb(10, 45, 223);

}
.img2:hover{
    margin-top: 5px;
    box-shadow: 0 0 10px 10px  rgb(210, 17, 17);
}
.img3:hover{
    margin-top: 5px;
    box-shadow: 0 0 10px 10px  white;
}
.img4:hover{   
    margin-top: 5px;
    box-shadow: 0 0 10px 10px  rgb(132, 8, 8);
}
.img2{
    background-image: url(images/pic-2.png);
    background-size: cover;
}
.img3{
    background-image: url(images/pic-3.png);
    background-size: cover;
}
.img4{
    background-image: url(images/pic-4.png);
    background-size: cover;
}
button{
    color: black;
    border: none;
    background-color: white;
    border-radius: 20px;
    height: 35px;
    width: 160px;  
    font-weight: bold;
    font-size: small;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    transition: 2s;
}
button:hover{
    box-shadow: 0 0 10px 10px rgb(126, 5, 102);
}